<div [ngStyle]="{
                    'top.px': (stateMachina.charY | coordinates),
                    'left.px': (stateMachina.charX | coordinates)
}"
    [ngClass]="{
                    'player-stop' : stateMachina.moveState === 0,
                    'player-move' : stateMachina.moveState === 2 || stateMachina.moveState === 1,
                    'transform' : stateMachina.moveState === 1 || (stateMachina.lastState === 1 && stateMachina.moveState === 0)
                    
    }">
</div>