<div class="imageBack">

</div>

<div class="fondNoir">

    <div class="commande">
        <img class="arrow" src="../../assets/arrowLeft.png" alt="arrowLeft" /> <p>Left</p>
        <img class="arrow" src="../../assets/arrowLeft.png" alt="arrowRight" />  <p>Right</p>
        <img class="space" src="../../assets/space.png" alt="space" /> <p>Jump</p>
        

    </div>



</div>
<a [routerLink]="['/background']">
    <img class="boutonHome" src="../../assets/home.png" alt="home" />
</a>




<p class="titre">Options

</p>