<div class="imageBack">

</div>

<div class="fondNoir">

    <div class="commande">

       <div> <img class="arrow" src="../../assets/arrowLeft.png" alt="arrowLeft" /> <p class="direction">Left</p></div>
       <div> <img class="arrow" src="../../assets/arrowRight.png" alt="arrowRight" />  <p class="direction">Right</p></div>
       <div> <img class="space" src="../../assets/space.png" alt="space" /> <p class="jump">Jump</p></div>
       <div> <img class="touchq" src="../../assets/Q.png" alt="q" /> <p class="attack">Attack</p></div>

       
    
    </div>



</div>
<a [routerLink]="['/background']">
    <img class="boutonHome" src="../../assets/home.png" alt="home" />
</a>




<p class="titre">Options

</p>