
.imageWin{
    width: 80%;
    height: auto;
    position: absolute;
    top:10%;
    left:8%;
}


 .container{

    height: 100%;
    width: 100%;
    background-image:url(/assets/backgroundWebsite.jpg);
    background-repeat: no-repeat;
    position: absolute;
 }

 .boutonHome{
    position: absolute;
    width: 6%;
    top: 6%;
    left: 3%;
  }


  .logo{
      position: absolute;
      top: 8%;
      width: 10%;
      left: 85%;
  }
