<div id="screen">

    <app-player></app-player>
  <div id="map">
    <div class="row" *ngFor="let row of map">
      <div class="col" *ngFor="let col of row" [ngStyle]="{'background-image': assets[col].url}"> 
        
      </div>
    </div>

    <div *ngFor="let monster of mapService.monsters" class="{{monster.className}}" 
    [ngStyle]="{top: '' + monster.monsterY* 54 + 'px', left: '' + monster.monsterX * 54 + 'px'}"
    [ngClass]="{'scale': monster.direction === 2}"
    ></div>
  </div>


  <div class="backPicture">



<h2 class="time">TIME: {{ gameLoop._stateMachina.gameDuration | date: 'mm:ss'}}</h2>

<h2 class="stage">STAGE 01</h2>


<div class="logo">
  <img src="/assets/logo.png"/></div>

<div class="textplay">WILD CODE SCHOOL CO. LTD.</div>
<br>
<div class="textplay">LICENSED BY NINTENDO 2019</div>

<div class="player-life"></div>
<div class="player-life"></div>
<div class="player-life"></div>




<!-- <div class="home">
  <img src="../../assets/homeblanc.png"/>
</div> -->


<div></div>




  </div>

</div>