@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

#screen {
  width: 700px;
  height: 502px;
}

#map {
  width: 7000px;
  height: 500px;
  background-image: url(../../assets/background.jpg);
  z-index: 1;
}

.row {
  height: 50px;
}

.col {
  display: inline-flex;
  width: 50px;
  height: 50px;
}

.wolf {
  background-repeat: no-repeat !important;
  background-position: bottom center !important;
  width: 64px;
  height: 32px;
  background: url(/assets/wolf.png);
  position: absolute;
  animation: wolfmove 300ms steps(12) infinite;
}
.ghost {
  background-repeat: no-repeat !important;
  background-position: bottom center !important;
  width: 64px;
  height: 60px;
  background: url(/assets/ghost-idle.png);
  position: absolute;
  animation: ghostmove 750ms steps(7) infinite;
}
.scale{
  transform: scaleX(-1)
}

@keyframes wolfmove {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -768px;
  }
}

@keyframes ghostmove {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -448px;
  }
}


.backPicture {
  background-size:cover;
  width: 100%;
  height: 50%;
  margin:auto;
  background-color: black;
  position: fixed;
  z-index: 3;
  font: normal 0.8em 'Press Start 2P', Monospace, Verdana, sans-serif;
}  

.player-life {
 /*  background: url("https://i.imgur.com/NBt32sN.png") repeat-x; */
 /*  background-repeat: repeat-x; */
  position: relative;
  height: 20px;
  width: 10px;
  background-color: red;
  display: inline-block;
  margin: 0.1%;
  top: 30%
  

}

.time {
  letter-spacing: 2px;
  color: white;
  text-align: center;
}

.stage {
  letter-spacing: 2px;
  color: white;
  position: relative;
  left: 85%;
  bottom: 8%;
}

.logo img {
  position: absolute;
  width: 10%;
  right: 5%;
  bottom: 35%;
}

.textplay {
  letter-spacing: 2px;
  color: white;
  position: relative;
  text-align: center;
  top: 10%;
}

/* .home img {
  position: absolute;
  width: 10%;
  bottom: 35%;
  left: 5%;
} */